@charset "utf-8";

header{
    display:flex;
    padding: 1rem 3rem;
    background: #ddd;
}
header .logout{
    margin-left:auto;
}
.welcome{
    max-width:500px;
    margin:2rem auto;
    padding:2rem;
    background: #ccc;
}
.welcome-wrap{
    width: fit-content;
    margin:0 auto;
    display: flex;
    column-gap:1rem;
}
.welcome-menu{
    padding:.3rem 2rem;
    background: #333;
    color:#fff;
    border-radius:5px;
    display: block;
    width: fit-content;
}
.easy-menu{
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius:5px;
    background: #ddd;
}
.easy-menu li{
    cursor:pointer;
    width: fit-content;
    list-style:none;
    line-height:2rem;
}
.easy-menu h5{
    border-bottom:3px solid #ccc;
    padding-bottom: 0.3rem;
    width: fit-content;
}
.form{
    display: flex;
    column-gap: 5px;
    width: 100%;
}

/* message */
.message-content{
    background: #333;
    color:#fff;
    width:fit-content;
    max-width:60%;
    padding: 1rem 2rem;
    border-radius:5px;
}
.message-area{
    padding: 3rem 2rem;
    background: #ddd;
    margin-top: 1rem;
    margin-bottom: 2rem;
    height:100vh;
    overflow-y:scroll;
    border-radius:5px;
}
.message-wrap{
    margin-bottom: 1rem;
}
.user-name{
    font-weight:bold;
    font-size:1.5rem;
}
.self{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.self-message-content{
    background: rgb(7, 167, 111);
    color:#fff;
    max-width:60%;
    width: fit-content;
    padding: 1rem 2rem;
    border-radius:5px;
    word-break:break-word;
}
/* users */
.user{
    padding:.5rem;
    border-bottom:3px solid #ccc;
    display: flex;
    column-gap:1rem;
}
.user-show{
    max-width:800px;
    margin: 5rem auto;
    border-radius:10px;
    background: #ddd;
    padding:2rem;
}
.user-show-contents::before{
    content:'';
    width: 1rem;
    height: 1rem;
    background: #333;
    position:absolute;
    top:calc(50% - 25%);
    left:-2rem;  
}
.user-show-contents{
    position:relative;
    margin: 1rem 2rem;
}
.tags ul{
    display: flex;
    column-gap: 1px;
    margin: 1rem 0;
    padding: 0;
}
.tags ul li {
    background: #333;
    color:#fff;
    list-style:none;
    width: 100%;
    text-align: center;
}
.tags ul li:hover {
    color:blue;
    cursor:pointer;
}
.tags-container{
    margin:0 auto;
    max-width:800px;
}
.follow-btn{
    background: blue;
    color:#fff;
    padding: 2px 4px;
    border-radius:5px;
    border:none;
}
.unfollow-btn{
    background: red;
    color:#fff;
    padding: 2px 4px;
    border-radius:5px;
    border:none;
}
.icon{
    background: #333;
    border-radius:50%;
    width: 70px;
    height: 70px;
    text-decoration:none;
    font-size:5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#fff;
    font-weight:bold;
    margin:1rem 0;
}
@media screen and (max-width:540px){
    .icon{
        width: 40px;
        height: 40px;
    }
}
.menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap:1rem;
    width:fit-content;
    margin-left:auto;
}